CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
_CPack_Packages
cmake-build-debug
CPackSourceConfig.cmake
CPackConfig.cmake
config.h
kplayer
kplayer_license_generate
build
Res
kplayer.dSYM
plugin-pkg

*.flv
*.mp4
*.aac
stream
.idea
*.swp
*.mkv
.DS_Store
*.cbp
*.yaml
*.tar.Z
*.tar.xz
*.tar.gz
*.tar.bz2
*.so
*.dylib
